<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <input type="text" id="id" placeholder="아이디"></br>
    <input type="text" id="psword" placeholder="패스워드"></br>
    <button>로그인</button>
</body>
</html>